@import url("https://fonts.google.com/share?selection.family=Roboto%20Mono:wght@100");

.App {
  margin: 10px;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
}

.link {
  text-decoration: none;
  list-style: none;
}

.topContainer {
  margin: 1rem;
}

.stationContainer {
  display: flex;
  margin: 1rem;
  flex-direction: row;
}