@import url("https://fonts.google.com/share?selection.family=Roboto%20Mono:wght@100");

.App {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
}

@media (max-width: 768px) {
  .App {
    display: grid;
    grid-template-rows: auto;
  }
}

.content {
  margin: 5vh 5vw;
}

.link {
  text-decoration: none;
  list-style: none;
}

.pageContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pageContainer>* {
  margin-right: 3vw;
  flex: 1;
}

.pageContainer>*:last-child {
  margin-right: 0;
}