.container {
    display: grid;
    grid-gap: 40px;
}

.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.statsBox {
    background-color: transparent;
    border: 5px solid rgb(0, 122, 201);
    border-radius: 2px;
    padding: 10px;
    text-align: center;
}