@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loadingSpinner {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border: 6px solid rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 0 0 7px rgb(0, 0, 0);
    animation: spinner 4s linear infinite;
}

.stick {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 3px;
    height: 80px;
    background: #000000;
    transform-origin: 1.5px 40px;
}

.loadingText {
    margin-top: 180px;
}

@keyframes spin1 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: translate(-50%, -50%) rotate(30deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(390deg);
    }
}

@keyframes spin3 {
    0% {
        transform: translate(-50%, -50%) rotate(60deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(420deg);
    }
}

@keyframes spin4 {
    0% {
        transform: translate(-50%, -50%) rotate(90deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(450deg);
    }
}

@keyframes spin5 {
    0% {
        transform: translate(-50%, -50%) rotate(120deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(480deg);
    }
}

@keyframes spin6 {
    0% {
        transform: translate(-50%, -50%) rotate(150deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(510deg);
    }
}

.stick1 {
    animation: spin1 7s linear infinite;
}

.stick2 {
    animation: spin2 7s linear infinite;
}

.stick3 {
    animation: spin3 7s linear infinite;
}

.stick4 {
    animation: spin4 7s linear infinite;
}

.stick5 {
    animation: spin5 7s linear infinite;
}

.stick6 {
    animation: spin6 7s linear infinite;
}