.sortingList {
    display: flex;
    flex-direction: row;
    color: black;
    margin: 1rem;
}

.sortingList div {
    flex: 1;
    display: flex;
    font-weight: bold;
    width: 25%;
    margin: 5px;
}

.sortingList div:hover {
    cursor: pointer;
}